@using Library.Helpers
@using Library.Resources
@{Layout = null;}
@model Library.Classes.ArticleItem
<div class="panel panel-primary">
	<div class="panel-heading" role="tab" id="headingGeneral" data-toggle="collapse" data-parent="#accordion" data-target="#collapseGeneral">
		<h4 class="panel-title">
			<a href="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
				@Translate.GeneralInformation
				@*if (Model != null)
				{
					@String.Format(Translate.ChangeButton, Translate.ArticleName)
				}
				else
				{
					@String.Format(Translate.CreateButton, Translate.ArticleName)
				}*@
			</a>
		</h4>
	</div>
	<div id="collapseGeneral" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGeneral">
		<div class="panel-body form-horizontal">
			@if (Model != null)
			{
				<div class=" form-group has-feedback">
					<div class="col-md-12">
						@*Html.BootstrapEditorFor(m => m.Content, new {label = Translate.WebgridTitle})*@	
						@Html.LabelFor(m => m.CreationDate)
						@Html.ValueFor(m => m.CreationDate)
					</div>
					<div class="col-md-12">
						@Html.LabelFor(m => m.CreatedBy)
						@Html.ValueFor(m => m.AspNetUsers.UserName)
					</div>
				</div>
			}
		</div>
	</div>
</div>

