@using Newtonsoft.Json.Linq
@using System.Resources

@using Library.Classes
@using Library.Helpers
@using Library.Models
@using Library.Resources
@using System.IO
@using System.Web.Hosting
@model Article_Content
@{
	Layout = null;
		
	JObject jsonSettings = JObject.Parse(Model.Text);
	/*
	const string JsonConfigFile = "Library\\Config\\ImageSettings.json";
	string path = Path.Combine(new DirectoryInfo(HostingEnvironment.MapPath("~/")).Parent.FullName, @JsonConfigFile);

	string jsonString = File.ReadAllText(path);
	JObject jsonSettings = JObject.Parse(jsonString);
	*/
	ImageSettings.ImageObject imageSettings = jsonSettings.ToObject<ImageSettings.ImageObject>();

	// Get all translations so that we can get the ones for the visibility buttons
	var manager = new ResourceManager(typeof(Translate));
	
	//Guid imageId = new Guid(imageSettings.GetValue("imageId").ToString());
	
	//var item = ctx.DocumentsView.Where(m => m.stream_id == imageId).FirstOrDefault();
		
 }



<div class="panel panel-default">
@using (Html.BeginCollectionItem("Article_Content"))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Article_Id)
	@Html.HiddenFor(m => m.Action)
	@Html.HiddenFor(m => m.Controller)
	@Html.HiddenFor(m => m.Creation_Date)
	@Html.HiddenFor(m => m.Created_By)
	@Html.HiddenFor(m => m.Active)
	@Html.HiddenFor(m => m.Level)
	//Html.HiddenFor(m => m.Text)
	
	<div class="panel-heading collapsed" role="tab" id="headingImage_@Model.Id" data-toggle="collapse" data-target="#collapseImage_@Model.Id">
		<div class="dragHandle">:::</div>
		<div class="row no-gutter">
			<div class="col-xs-1 col-md-1">
				<h4 class="panel-title">@Model.Action</h4>
			</div>
			<div class="col-xs-8 col-md-8">
				<h4 class="panel-title">
					<a href="#collapseImage_@Model.Id" aria-expanded="true" aria-controls="collapseImage_@Model.Id">
						@Html.TextBoxFor(m => m.Title, new {@class = "form-control" })
					</a>
				</h4>
			</div>
			<div class="col-xs-3 col-md-3">
				<div class="btn-group pull-right" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							@Translate.Options
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="#">@Translate.NotAvailable</a></li>
						</ul>
					</div>
					<button type="button" class="btn btn-default glyphicon glyphicon-trash"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="collapseImage_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingImage_@Model.Id">
		<div class="panel-body form-horizontal">
			
			@*Html.ImgTag(url,"").WithDensities(2, 3).WithSize(100, 40)*@


			<div class="row no-gutter">

				<div class="col-xs-6 col-md-5">
					<div class="highlight empty dropzone">
						<div class="fallback">
							@Html.TextBox("test", "", new { Type = "file" })
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-7">

					<div class="panel-group" id="collapseSettings_@Model.Id" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#somethingelse_@Model.Id" data-target="#collapseSettingsImage_@Model.Id">
								<h4 class="panel-title">@Html.DisplayNameFor(m => imageSettings.image)</h4>
							</div>
							<div id="collapseSettingsImage_@Model.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSettingsImage_@Model.Id">
								<div class="panel-body form-horizontal">
									@Html.EditorFor(m => imageSettings.image)
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#collapseSettings_@Model.Id" data-target="#collapseSettingsColor_@Model.Id">
								<h4 class="panel-title">@Html.DisplayNameFor(m => imageSettings.color)</h4>
							</div>
							<div id="collapseSettingsColor_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSettingsColor_@Model.Id">
								<div class="panel-body form-horizontal">
									@Html.EditorFor(m => imageSettings.color)
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#collapseSettings_@Model.Id" data-target="#collapseSettingsFilters_@Model.Id">
								<h4 class="panel-title">@Html.DisplayNameFor(m => imageSettings.filters)</h4>
							</div>
							<div id="collapseSettingsFilters_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSettingsFilters_@Model.Id">
								<div class="panel-body form-horizontal">
									@Html.EditorFor(m => imageSettings.filters)
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#collapseSettings_@Model.Id" data-target="#collapseSettingsTransform_@Model.Id">
								<h4 class="panel-title">@Html.DisplayNameFor(m => imageSettings.transform)</h4>
							</div>
							<div id="collapseSettingsTransform_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSettingsTransform_@Model.Id">
								<div class="panel-body form-horizontal">
									@Html.EditorFor(m => imageSettings.transform)
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#collapseSettings_@Model.Id" data-target="#collapseSettingsWatermark_@Model.Id">
								<h4 class="panel-title">@Html.DisplayNameFor(m => imageSettings.watermark)</h4>
							</div>
							<div id="collapseSettingsWatermark_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSettingsWatermark_@Model.Id">
								<div class="panel-body form-horizontal">
									@Html.EditorFor(m => imageSettings.watermark)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				@Html.TextAreaFor(m => m.Text)
		</div>
	</div>
}
</div>


<script>
	(function () {
		function loadDropZone() {
			var panel = $('#collapseImage_@Model.Id');
			panel.find('.dropzone').dropzone(
				{
					url: '/File/SaveImage',
					maxFilesize: @ConfigClass.Settings.controllers.files.image.maxFileSize,
					maxFiles: 1,
					acceptedFiles: 'image/*',
					dictDefaultMessage: '@Html.Raw(Translate.FileUploadEmpty)'
				}
			);
				
			panel.find('.slider').bootstrapSlider();
		}
		if (window.jQuery !== undefined) {
			loadDropZone();
		} else {
			window.onload = loadDropZone;
		}
	}
	)();
</script>

