@using Newtonsoft.Json.Linq
@using Library.Classes
@using Library.Helpers
@using Library.Models
@using Library.Resources
@model Library.Models.Article_Content
@{
	Layout = null;

		
	JObject imageSettings = JObject.Parse(Model.Text);

	//var ctx = new DocumentEntities();

	string url = "~/" + imageSettings.GetValue("url").ToString();
	
	//Guid imageId = new Guid(imageSettings.GetValue("imageId").ToString());
	
	//var item = ctx.DocumentsView.Where(m => m.stream_id == imageId).FirstOrDefault();
	
 }



<div class="panel panel-default">
@using (Html.BeginCollectionItem("Article_Content"))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.Article_Id)
	@Html.HiddenFor(m => m.Action)
	@Html.HiddenFor(m => m.Controller)
	@Html.HiddenFor(m => m.Creation_Date)
	@Html.HiddenFor(m => m.Created_By)
	@Html.HiddenFor(m => m.Active)
	@Html.HiddenFor(m => m.Level)
	//Html.HiddenFor(m => m.Text)
	
	<div class="panel-heading collapsed" role="tab" id="headingImage_@Model.Id" data-toggle="collapse" data-target="#collapseImage_@Model.Id">
		<div class="dragHandle">:::</div>
		<div class="row no-gutter">
			<div class="col-xs-1 col-md-1">
				<h4 class="panel-title">@Model.Action</h4>
			</div>
			<div class="col-xs-8 col-md-8">
				<h4 class="panel-title">
					<a href="#collapseImage_@Model.Id" aria-expanded="true" aria-controls="collapseImage_@Model.Id">
						@Html.TextBoxFor(m => m.Title, new {@class = "form-control" })
					</a>
				</h4>
			</div>
			<div class="col-xs-3 col-md-3">
				<div class="btn-group pull-right" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							@Translate.Options
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="#">@Translate.NotAvailable</a></li>
						</ul>
					</div>
					<button type="button" class="btn btn-default glyphicon glyphicon-trash"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="collapseImage_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingImage_@Model.Id">
		<div class="panel-body form-horizontal">
			<div class="highlight empty dropzone">
				<div class="fallback">
					@Html.TextBox("test", "", new { Type = "file" })
				</div>
			</div>
			@Html.ImgTag(url,"").WithDensities(2, 3).WithSize(100, 40)

			@Html.TextAreaFor(m => m.Text)
		</div>
	</div>
}
</div>


<script>
	(function () {
		function loadDropZone() {
			$('#collapseImage_@Model.Id .dropzone').dropzone(
				{
					url: '/File/SaveFile',
					maxFilesize: @ConfigClass.Settings.controllers.files.image.maxFileSize,
					maxFiles: 1,
					acceptedFiles: 'image/*',
					dictDefaultMessage: '@Html.Raw(Translate.FileUploadEmpty)'
				}
			);
		}
		if (window.jQuery !== undefined) {
			loadDropZone();
		} else {
			window.onload = loadDropZone;
		}
	}
	)();
</script>

