@using Library.Helpers
@{
    ViewBag.Title = "Users";

	var grid = new WebGrid(
			source: Model, 
			rowsPerPage: 200,
			canPage: false, 
			canSort: true, 
			defaultSort: "Name"
		);
}
<h2>User List</h2>
@using (Ajax.BeginForm("Change", "Roles", FormMethod.Post,
					new AjaxOptions
					{
						/*InsertionMode = InsertionMode.Replace,*/
						HttpMethod = "POST"/*,
						UpdateTargetId = (ViewBag.ModalName) + "Body"*/
					},
					new { @class = "form-horizontal", role = "form", id = "userForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="table-responsive">
		@grid.GetHtml(
			tableStyle: "table table-striped table-hover",
				headerStyle: "head",
				alternatingRowStyle: "alt",
				columns: ViewBag.Columns
			)
	</div>
	
}
<p>
	@Html.ActionLink("Create a new account", "Register", "", null, new { @data_toggle = "modal", @data_target = "#registerModalSmall", @class = "btn btn-primary" })
</p>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}