@using Library.Models
@using Library.Helpers
@using Library.Resources
@model ForgotPasswordViewModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
	ViewBag.Title = Translate.ForgotPassword;
	ViewBag.ModalName = "forgotModalSmall";
	ViewBag.StandardButtons = false;
}

@using (Ajax.BeginForm("ForgotPassword", "Account", FormMethod.Post,
					new AjaxOptions
					{
						InsertionMode = InsertionMode.Replace,
						HttpMethod = "POST",
						UpdateTargetId = (ViewBag.ModalName) + "Body"
					},
					new { @class = "form-horizontal", role = "form", id = "forgotForm" }))
{
	<p>@Translate.ForgotPasswordText</p>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
	@Html.BootstrapEditorFor(m => m.Email, new { @autoFocus = true })
    <div class="form-group">
        <div class="col-md-12">
			<button type="submit" class="btn btn-primary btn-block" >@Translate.ForgotPasswordSend</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
