@using Library.Models
@using Library.Helpers
@model RegisterViewModel
@{

	//Layout = "~/Views/Shared/_Modal.cshtml";
	Layout = ViewBag.Layout;
	ViewBag.Title = "Create new account";
	ViewBag.ModalName = "registerModalSmall";
}

@using (Ajax.BeginForm("Register", "Account", FormMethod.Post,
					new AjaxOptions
					{
						InsertionMode = InsertionMode.Replace,
						HttpMethod = "POST",
						UpdateTargetId = (ViewBag.ModalName) + "Body"
						
					},
					new { @class = "form-horizontal", role = "form", id = "registerForm" }))
{										
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
	@Html.BootstrapEditorFor(m => m.Email, new { @autoFocus = true })
	@Html.BootstrapEditorFor(m => m.Password)
	@Html.BootstrapEditorFor(m => m.ConfirmPassword)
	<div class="form-group">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary btn-block">Create account</button>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}